div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj13300 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj11059 {
position: absolute;
overflow: hidden;
top: 48px;
left: 533px;
width: 380px;
height: 341px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11059_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 380px;
	height: 341px;
}
div#obj11097 {
position: absolute;
overflow: hidden;
top: 48px;
left: 553px;
width: 104px;
height: 109px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11097_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 104px;
	height: 109px;
}
div#obj11101 {
position: absolute;
overflow: hidden;
top: 48px;
left: 779px;
width: 118px;
height: 67px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11101_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 67px;
}
div#obj11056 {
position: absolute;
overflow: hidden;
top: 57px;
left: 138px;
width: 375px;
height: 332px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11056_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 332px;
}
div#obj11099 {
position: absolute;
overflow: hidden;
top: 57px;
left: 676px;
width: 93px;
height: 58px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11099_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 58px;
}
div#obj11093 {
position: absolute;
overflow: hidden;
top: 65px;
left: 306px;
width: 93px;
height: 82px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11093_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 82px;
}
div#obj11091 {
position: absolute;
overflow: hidden;
top: 66px;
left: 161px;
width: 146px;
height: 123px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11091_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 146px;
	height: 123px;
}
div#obj11095 {
position: absolute;
overflow: hidden;
top: 66px;
left: 393px;
width: 109px;
height: 145px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11095_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 109px;
	height: 145px;
}
div#obj11125 {
position: absolute;
overflow: hidden;
top: 115px;
left: 656px;
width: 113px;
height: 89px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11125_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 113px;
	height: 89px;
}
div#obj11127 {
position: absolute;
overflow: hidden;
top: 115px;
left: 782px;
width: 113px;
height: 108px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11127_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 113px;
	height: 108px;
}
div#obj11123 {
position: absolute;
overflow: hidden;
top: 138px;
left: 323px;
width: 71px;
height: 54px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11123_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 54px;
}
div#obj11103 {
position: absolute;
overflow: hidden;
top: 176px;
left: 549px;
width: 97px;
height: 107px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11103_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 97px;
	height: 107px;
}
div#obj11111 {
position: absolute;
overflow: hidden;
top: 203px;
left: 265px;
width: 93px;
height: 99px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11111_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 99px;
}
div#obj11105 {
position: absolute;
overflow: hidden;
top: 217px;
left: 656px;
width: 113px;
height: 105px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11105_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 113px;
	height: 105px;
}
div#obj11109 {
position: absolute;
overflow: hidden;
top: 218px;
left: 166px;
width: 93px;
height: 154px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11109_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 154px;
}
div#obj11113 {
position: absolute;
overflow: hidden;
top: 221px;
left: 412px;
width: 100px;
height: 91px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11113_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 91px;
}
div#obj11107 {
position: absolute;
overflow: hidden;
top: 243px;
left: 792px;
width: 93px;
height: 91px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11107_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 91px;
}
div#obj11119 {
position: absolute;
overflow: hidden;
top: 288px;
left: 551px;
width: 93px;
height: 99px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11119_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 99px;
}
div#obj11115 {
position: absolute;
overflow: hidden;
top: 298px;
left: 300px;
width: 93px;
height: 99px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11115_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 99px;
}
div#obj11117 {
position: absolute;
overflow: hidden;
top: 307px;
left: 404px;
width: 93px;
height: 91px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11117_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 91px;
}
div#obj11121 {
position: absolute;
overflow: hidden;
top: 321px;
left: 656px;
width: 93px;
height: 71px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj11121_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 93px;
	height: 71px;
}
div#obj13868 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13868_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13873 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13873_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13887 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13887_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13858 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13858_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13883 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13883_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13880 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13880_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13865 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13865_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13849 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13849_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj11053 {
position: absolute;
overflow: hidden;
top: 13px;
left: 369px;
width: 256px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj11053_content {
}
div#obj4238 {
position: absolute;
overflow: hidden;
top: 398px;
left: 95px;
width: 802px;
height: 124px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj4238_content {
}
div#obj10179 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10179_content {
}



div#obj10101 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4818 {
position: absolute;
overflow: hidden;
top: 222px;
left: 783px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
