div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj13300 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj3983 {
position: absolute;
overflow: hidden;
top: 7px;
left: 219px;
width: 585px;
height: 514px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3983_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 585px;
	height: 514px;
}
div#obj4513 {
position: absolute;
overflow: hidden;
top: 109px;
left: 536px;
width: 141px;
height: 147px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4513_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 141px;
	height: 147px;
}
div#obj4507 {
position: absolute;
overflow: hidden;
top: 116px;
left: 336px;
width: 141px;
height: 147px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4507_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 141px;
	height: 147px;
}
div#obj13918 {
position: absolute;
overflow: hidden;
top: 217px;
left: 435px;
width: 85px;
height: 74px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13918_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 85px;
	height: 74px;
}
div#obj13919 {
position: absolute;
overflow: hidden;
top: 217px;
left: 486px;
width: 96px;
height: 70px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13919_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	height: 70px;
}
div#obj13920 {
position: absolute;
overflow: hidden;
top: 270px;
left: 496px;
width: 86px;
height: 64px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13920_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 86px;
	height: 64px;
}
div#obj13921 {
position: absolute;
overflow: hidden;
top: 275px;
left: 446px;
width: 80px;
height: 76px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13921_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 76px;
}
div#obj4511 {
position: absolute;
overflow: hidden;
top: 315px;
left: 344px;
width: 141px;
height: 147px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4511_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 141px;
	height: 147px;
}
div#obj4509 {
position: absolute;
overflow: hidden;
top: 324px;
left: 536px;
width: 141px;
height: 147px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4509_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 141px;
	height: 147px;
}
div#obj13868 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13868_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13873 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13873_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13887 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13887_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13858 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13858_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13883 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13883_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13880 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13880_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13865 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13865_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13849 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13849_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4182 {
position: absolute;
overflow: hidden;
top: 7px;
left: 375px;
width: 428px;
height: 32px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4182_content {
}
div#obj4180 {
position: absolute;
overflow: hidden;
top: 11px;
left: 344px;
width: 33px;
height: 38px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4180_content {
}
div#obj10155 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10155_content {
}



div#obj10077 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4794 {
position: absolute;
overflow: hidden;
top: 222px;
left: 783px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
