div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj9846 {
position: absolute;
overflow: hidden;
top: 160px;
left: 687px;
width: 336px;
height: 367px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj10403 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj3883 {
position: absolute;
overflow: hidden;
top: 0px;
left: 141px;
width: 721px;
height: 527px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3883_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 721px;
	height: 527px;
}
div#obj4369 {
position: absolute;
overflow: hidden;
top: 236px;
left: 175px;
width: 323px;
height: 219px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;
-webkit-transform: rotate(-0.5447169deg);
-moz-transform: rotate(-0.5447169deg);
transform: rotate(-0.5447169deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4369_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 323px;
	height: 219px;
}
div#obj4371 {
position: absolute;
overflow: hidden;
top: 244px;
left: 545px;
width: 280px;
height: 217px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4371_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 280px;
	height: 217px;
}
div#obj10000 {
position: absolute;
overflow: hidden;
top: 468px;
left: 557px;
width: 64px;
height: 35px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10000_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 35px;
}
div#obj10004 {
position: absolute;
overflow: hidden;
top: 468px;
left: 729px;
width: 82px;
height: 35px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10004_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 35px;
}
div#obj5046 {
position: absolute;
overflow: hidden;
top: 469px;
left: 223px;
width: 64px;
height: 35px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5046_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 35px;
}
div#obj5050 {
position: absolute;
overflow: hidden;
top: 469px;
left: 395px;
width: 82px;
height: 35px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5050_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 35px;
}
div#obj9841 {
position: absolute;
overflow: hidden;
top: 528px;
left: 897px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj9841_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10372 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10372_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10377 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10377_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10391 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10391_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10362 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10362_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10387 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10387_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10384 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10384_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10369 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10369_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10353 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10353_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4097 {
position: absolute;
overflow: hidden;
top: 0px;
left: 250px;
width: 503px;
height: 64px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-size: 45px;
}
div#obj4097_content {
}
div#obj4129 {
position: absolute;
overflow: hidden;
top: 94px;
left: 286px;
width: 688px;
height: 64px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4129_content {
}
div#obj4135 {
position: absolute;
overflow: hidden;
top: 106px;
left: 236px;
width: 50px;
height: 51px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4135_content {
}
div#obj4131 {
position: absolute;
overflow: hidden;
top: 185px;
left: 217px;
width: 260px;
height: 39px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4131_content {
}
div#obj4133 {
position: absolute;
overflow: hidden;
top: 190px;
left: 545px;
width: 348px;
height: 40px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4133_content {
}
div#obj9995 {
position: absolute;
overflow: hidden;
top: 467px;
left: 495px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj9995_content {
}
div#obj9975 {
position: absolute;
overflow: hidden;
top: 468px;
left: 161px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj9975_content {
}
div#obj9982 {
position: absolute;
overflow: hidden;
top: 468px;
left: 341px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj9982_content {
}
div#obj9990 {
position: absolute;
overflow: hidden;
top: 468px;
left: 675px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj9990_content {
}
div#obj4766 {
position: absolute;
overflow: hidden;
top: 530px;
left: 477px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4766_content {
}
div#obj9977 {
position: absolute;
overflow: hidden;
top: 530px;
left: 477px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj9977_content {
}



div#obj4670 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj4589 {
position: absolute;
overflow: hidden;
top: 49px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj5637 {
position: absolute;
overflow: hidden;
top: 222px;
left: 783px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}

.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.SCPage {
background-color: #FFFFFF
}
