div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj13300 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj4056 {
position: absolute;
overflow: hidden;
top: 91px;
left: 85px;
width: 818px;
height: 404px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4056_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 818px;
	height: 404px;
}
div#obj4621 {
position: absolute;
overflow: hidden;
top: 176px;
left: 544px;
width: 125px;
height: 134px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4621_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 134px;
}
div#obj4615 {
position: absolute;
overflow: hidden;
top: 189px;
left: 187px;
width: 125px;
height: 134px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4615_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 134px;
}
div#obj10711 {
position: absolute;
overflow: hidden;
top: 198px;
left: 669px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10711_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10616 {
position: absolute;
overflow: hidden;
top: 199px;
left: 311px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10616_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10718 {
position: absolute;
overflow: hidden;
top: 265px;
left: 669px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10718_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10618 {
position: absolute;
overflow: hidden;
top: 266px;
left: 311px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10618_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj4619 {
position: absolute;
overflow: hidden;
top: 359px;
left: 187px;
width: 125px;
height: 134px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4619_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 134px;
}
div#obj4617 {
position: absolute;
overflow: hidden;
top: 367px;
left: 544px;
width: 125px;
height: 134px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4617_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 134px;
}
div#obj10741 {
position: absolute;
overflow: hidden;
top: 382px;
left: 669px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10741_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10755 {
position: absolute;
overflow: hidden;
top: 383px;
left: 311px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10755_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10739 {
position: absolute;
overflow: hidden;
top: 449px;
left: 669px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10739_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj10753 {
position: absolute;
overflow: hidden;
top: 450px;
left: 311px;
width: 69px;
height: 44px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10753_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 69px;
	height: 44px;
}
div#obj13868 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13868_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13873 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13873_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13887 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13887_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13858 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13858_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13883 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13883_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13880 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13880_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13865 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13865_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13849 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13849_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4246 {
position: absolute;
overflow: hidden;
top: 86px;
left: 269px;
width: 713px;
height: 82px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4246_content {
}
div#obj4244 {
position: absolute;
overflow: hidden;
top: 120px;
left: 187px;
width: 63px;
height: 47px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4244_content {
}
div#obj10713 {
position: absolute;
overflow: hidden;
top: 204px;
left: 755px;
width: 112px;
height: 44px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10713_content {
}
div#obj4248 {
position: absolute;
overflow: hidden;
top: 205px;
left: 397px;
width: 112px;
height: 44px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4248_content {
}
div#obj4256 {
position: absolute;
overflow: hidden;
top: 210px;
left: 759px;
width: 109px;
height: 50px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4256_content {
}
div#obj10720 {
position: absolute;
overflow: hidden;
top: 269px;
left: 750px;
width: 112px;
height: 50px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10720_content {
}
div#obj4250 {
position: absolute;
overflow: hidden;
top: 270px;
left: 392px;
width: 112px;
height: 50px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4250_content {
}
div#obj4262 {
position: absolute;
overflow: hidden;
top: 271px;
left: 752px;
width: 122px;
height: 50px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4262_content {
}
div#obj10748 {
position: absolute;
overflow: hidden;
top: 388px;
left: 755px;
width: 112px;
height: 44px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10748_content {
}
div#obj10766 {
position: absolute;
overflow: hidden;
top: 389px;
left: 397px;
width: 112px;
height: 44px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10766_content {
}
div#obj10759 {
position: absolute;
overflow: hidden;
top: 394px;
left: 759px;
width: 109px;
height: 50px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10759_content {
}
div#obj10743 {
position: absolute;
overflow: hidden;
top: 453px;
left: 750px;
width: 112px;
height: 50px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10743_content {
}
div#obj10761 {
position: absolute;
overflow: hidden;
top: 454px;
left: 392px;
width: 112px;
height: 50px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10761_content {
}
div#obj10757 {
position: absolute;
overflow: hidden;
top: 455px;
left: 752px;
width: 122px;
height: 50px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10757_content {
}
div#obj10183 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10183_content {
}



div#obj10105 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4822 {
position: absolute;
overflow: hidden;
top: 225px;
left: 782px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
