div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj10403 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj10444 {
position: absolute;
overflow: hidden;
top: 5px;
left: 435px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10444_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10442 {
position: absolute;
overflow: hidden;
top: 6px;
left: 435px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10442_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10416 {
position: absolute;
overflow: hidden;
top: 16px;
left: 783px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10416_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10418 {
position: absolute;
overflow: hidden;
top: 17px;
left: 783px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10418_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj4490 {
position: absolute;
overflow: hidden;
top: 35px;
left: 175px;
width: 297px;
height: 193px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4490_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297px;
	height: 193px;
}
div#obj4492 {
position: absolute;
overflow: hidden;
top: 40px;
left: 546px;
width: 310px;
height: 179px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4492_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 310px;
	height: 179px;
}
div#obj4488 {
position: absolute;
overflow: hidden;
top: 260px;
left: 623px;
width: 142px;
height: 208px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4488_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 142px;
	height: 208px;
}
div#obj4494 {
position: absolute;
overflow: hidden;
top: 273px;
left: 245px;
width: 157px;
height: 201px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4494_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 157px;
	height: 201px;
}
div#obj10472 {
position: absolute;
overflow: hidden;
top: 287px;
left: 783px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10472_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10457 {
position: absolute;
overflow: hidden;
top: 288px;
left: 413px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10457_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10474 {
position: absolute;
overflow: hidden;
top: 288px;
left: 783px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10474_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10459 {
position: absolute;
overflow: hidden;
top: 289px;
left: 413px;
width: 72px;
height: 60px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10459_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 60px;
}
div#obj10372 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10372_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10377 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10377_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10391 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10391_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10362 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10362_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10387 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10387_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10384 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10384_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10369 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10369_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10353 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10353_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4822 {
position: absolute;
overflow: hidden;
top: 530px;
left: 477px;
width: 61px;
height: 37px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4822_content {
}
button#obj10431 {
	position: absolute;
overflow: hidden;
top: 218px;
left: 198px;
width: 118px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10431:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10436 {
	position: absolute;
overflow: hidden;
top: 218px;
left: 322px;
width: 127px;
height: 40px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10436:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10426 {
	position: absolute;
overflow: hidden;
top: 218px;
left: 576px;
width: 118px;
height: 40px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10426:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10420 {
	position: absolute;
overflow: hidden;
top: 218px;
left: 700px;
width: 127px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10420:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10467 {
	position: absolute;
overflow: hidden;
top: 472px;
left: 554px;
width: 118px;
height: 40px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10467:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10461 {
	position: absolute;
overflow: hidden;
top: 472px;
left: 678px;
width: 127px;
height: 40px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10461:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10452 {
	position: absolute;
overflow: hidden;
top: 473px;
left: 184px;
width: 118px;
height: 40px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10452:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj10446 {
	position: absolute;
overflow: hidden;
top: 473px;
left: 308px;
width: 127px;
height: 40px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj10446:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }


div#obj4726 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj4589 {
position: absolute;
overflow: hidden;
top: 49px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj5695 {
position: absolute;
overflow: hidden;
top: 223px;
left: 783px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}

.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.SCPage {
background-color: #FFFFFF
}
