div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj7011 {
position: absolute;
overflow: hidden;
top: 106px;
left: 713px;
width: 291px;
height: 417px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj7790 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj3014 {
position: absolute;
overflow: hidden;
top: 13px;
left: 51px;
width: 404px;
height: 77px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3014_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 404px;
	height: 77px;
}
div#obj7065 {
position: absolute;
overflow: hidden;
top: 19px;
left: 589px;
width: 262px;
height: 181px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7065_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 262px;
	height: 181px;
}
div#obj7063 {
position: absolute;
overflow: hidden;
top: 78px;
left: 118px;
width: 289px;
height: 176px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7063_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 289px;
	height: 176px;
}
div#obj3584 {
position: absolute;
overflow: hidden;
top: 80px;
left: 112px;
width: 747px;
height: 388px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3584_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 747px;
	height: 388px;
}
div#obj7073 {
position: absolute;
overflow: hidden;
top: 151px;
left: 395px;
width: 166px;
height: 164px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7073_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 166px;
	height: 164px;
}
div#obj7077 {
position: absolute;
overflow: hidden;
top: 189px;
left: 540px;
width: 76px;
height: 33px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;
-webkit-transform: rotate(135.9439deg);
-moz-transform: rotate(135.9439deg);
transform: rotate(135.9439deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7077_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 76px;
	height: 33px;
}
div#obj7075 {
position: absolute;
overflow: hidden;
top: 221px;
left: 315px;
width: 90px;
height: 32px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;
-webkit-transform: rotate(23.24148deg);
-moz-transform: rotate(23.24148deg);
transform: rotate(23.24148deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7075_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 90px;
	height: 32px;
}
div#obj7071 {
position: absolute;
overflow: hidden;
top: 222px;
left: 688px;
width: 172px;
height: 184px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7071_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 172px;
	height: 184px;
}
div#obj7079 {
position: absolute;
overflow: hidden;
top: 274px;
left: 547px;
width: 90px;
height: 32px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;
-webkit-transform: rotate(-156.3392deg);
-moz-transform: rotate(-156.3392deg);
transform: rotate(-156.3392deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7079_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 90px;
	height: 32px;
}
div#obj7083 {
position: absolute;
overflow: hidden;
top: 285px;
left: 306px;
width: 90px;
height: 32px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;
-webkit-transform: rotate(-22.25384deg);
-moz-transform: rotate(-22.25384deg);
transform: rotate(-22.25384deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7083_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 90px;
	height: 32px;
}
div#obj7067 {
position: absolute;
overflow: hidden;
top: 294px;
left: 154px;
width: 207px;
height: 166px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7067_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 207px;
	height: 166px;
}
div#obj7081 {
position: absolute;
overflow: hidden;
top: 333px;
left: 465px;
width: 72px;
height: 33px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;
-webkit-transform: rotate(-87.4575deg);
-moz-transform: rotate(-87.4575deg);
transform: rotate(-87.4575deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7081_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 33px;
}
div#obj7069 {
position: absolute;
overflow: hidden;
top: 348px;
left: 414px;
width: 190px;
height: 134px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7069_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 134px;
}
div#obj3020 {
position: absolute;
overflow: hidden;
top: 462px;
left: 42px;
width: 546px;
height: 64px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3020_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 546px;
	height: 64px;
}
div#obj7006 {
position: absolute;
overflow: hidden;
top: 526px;
left: 896px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7006_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7811 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7811_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7816 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7816_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7830 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7830_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7801 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7801_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7826 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7826_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7823 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7823_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7808 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7808_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj7792 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7792_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj3316 {
position: absolute;
overflow: hidden;
top: 25px;
left: 207px;
width: 243px;
height: 52px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj3316_content {
}
div#obj3430 {
position: absolute;
overflow: hidden;
top: 31px;
left: 159px;
width: 48px;
height: 50px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj3430_content {
}
div#obj3318 {
position: absolute;
overflow: hidden;
top: 475px;
left: 175px;
width: 508px;
height: 64px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj3318_content {
}
div#obj7223 {
position: absolute;
overflow: hidden;
top: 530px;
left: 481px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj7223_content {
}
div#obj4130 {
position: absolute;
overflow: hidden;
top: 533px;
left: 481px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4130_content {
}



div#obj4022 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3940 {
position: absolute;
overflow: hidden;
top: 49px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj6682 {
position: absolute;
overflow: hidden;
top: 224px;
left: 785px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.SCPage {
background-color: #FFFFFF
}
