div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj8567 {
position: absolute;
overflow: hidden;
top: 241px;
left: 318px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8581 {
position: absolute;
overflow: hidden;
top: 241px;
left: 506px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8565 {
position: absolute;
overflow: hidden;
top: 282px;
left: 318px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8579 {
position: absolute;
overflow: hidden;
top: 282px;
left: 506px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8563 {
position: absolute;
overflow: hidden;
top: 322px;
left: 318px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8577 {
position: absolute;
overflow: hidden;
top: 322px;
left: 506px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8561 {
position: absolute;
overflow: hidden;
top: 362px;
left: 318px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8575 {
position: absolute;
overflow: hidden;
top: 362px;
left: 506px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8559 {
position: absolute;
overflow: hidden;
top: 402px;
left: 318px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8573 {
position: absolute;
overflow: hidden;
top: 402px;
left: 506px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8569 {
position: absolute;
overflow: hidden;
top: 442px;
left: 317px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8571 {
position: absolute;
overflow: hidden;
top: 442px;
left: 505px;
width: 177px;
height: 32px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj10324 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj8487 {
position: absolute;
overflow: hidden;
top: 49px;
left: 137px;
width: 711px;
height: 437px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8487_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 711px;
	height: 437px;
}
div#obj4558 {
position: absolute;
overflow: hidden;
top: 107px;
left: 375px;
width: 110px;
height: 87px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4558_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 110px;
	height: 87px;
}
div#obj4554 {
position: absolute;
overflow: hidden;
top: 108px;
left: 694px;
width: 124px;
height: 84px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4554_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 124px;
	height: 84px;
}
div#obj4556 {
position: absolute;
overflow: hidden;
top: 113px;
left: 524px;
width: 132px;
height: 76px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4556_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 132px;
	height: 76px;
}
div#obj4546 {
position: absolute;
overflow: hidden;
top: 129px;
left: 270px;
width: 66px;
height: 76px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4546_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 76px;
}
div#obj4564 {
position: absolute;
overflow: hidden;
top: 205px;
left: 165px;
width: 145px;
height: 76px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4564_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 145px;
	height: 76px;
}
div#obj4552 {
position: absolute;
overflow: hidden;
top: 211px;
left: 713px;
width: 66px;
height: 98px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4552_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 98px;
}
div#obj4562 {
position: absolute;
overflow: hidden;
top: 308px;
left: 196px;
width: 99px;
height: 95px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4562_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99px;
	height: 95px;
}
div#obj4548 {
position: absolute;
overflow: hidden;
top: 308px;
left: 713px;
width: 118px;
height: 111px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4548_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 111px;
}
div#obj4560 {
position: absolute;
overflow: hidden;
top: 402px;
left: 255px;
width: 66px;
height: 76px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4560_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 76px;
}
div#obj4550 {
position: absolute;
overflow: hidden;
top: 418px;
left: 732px;
width: 94px;
height: 76px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4550_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 94px;
	height: 76px;
}
div#obj10345 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10345_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10350 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10350_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10364 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10364_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10335 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10335_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10360 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10360_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10357 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10357_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10342 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10342_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj10326 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj10326_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4602 {
position: absolute;
overflow: hidden;
top: 61px;
left: 248px;
width: 46px;
height: 54px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4602_content {
}
div#obj4544 {
position: absolute;
overflow: hidden;
top: 62px;
left: 284px;
width: 454px;
height: 49px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4544_content {
}
div#obj8842 {
position: absolute;
overflow: hidden;
top: 198px;
left: 524px;
width: 158px;
height: 38px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8842_content {
}
div#obj8840 {
position: absolute;
overflow: hidden;
top: 199px;
left: 324px;
width: 169px;
height: 38px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8840_content {
}
div#obj4103 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4103_content {
}



div#obj4058 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4878 {
position: absolute;
overflow: hidden;
top: 223px;
left: 785px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
