div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj13300 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj4086 {
position: absolute;
overflow: hidden;
top: 0px;
left: -9px;
width: 636px;
height: 518px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4086_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 636px;
	height: 518px;
}
div#obj4643 {
position: absolute;
overflow: hidden;
top: 65px;
left: 21px;
width: 583px;
height: 434px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj4643_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 583px;
	height: 434px;
}
div#obj13868 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13868_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13873 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13873_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13887 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13887_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13858 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13858_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13883 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13883_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13880 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13880_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13865 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13865_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj13849 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj13849_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4312 {
position: absolute;
overflow: hidden;
top: 9px;
left: 100px;
width: 37px;
height: 45px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4312_content {
}
div#obj4314 {
position: absolute;
overflow: hidden;
top: 10px;
left: 132px;
width: 332px;
height: 44px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj4314_content {
}
div#obj11702 {
position: absolute;
overflow: hidden;
top: 65px;
left: 186px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11702_content {
}
div#obj10404 {
position: absolute;
overflow: hidden;
top: 65px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10404_content {
}
div#obj10392 {
position: absolute;
overflow: hidden;
top: 65px;
left: 657px;
width: 350px;
height: 37px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10392_content {
}
div#obj11706 {
position: absolute;
overflow: hidden;
top: 101px;
left: 338px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11706_content {
}
div#obj10394 {
position: absolute;
overflow: hidden;
top: 123px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10394_content {
}
div#obj10382 {
position: absolute;
overflow: hidden;
top: 125px;
left: 659px;
width: 350px;
height: 39px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10382_content {
}
div#obj11708 {
position: absolute;
overflow: hidden;
top: 153px;
left: 292px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11708_content {
}
div#obj11714 {
position: absolute;
overflow: hidden;
top: 175px;
left: 477px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11714_content {
}
div#obj10396 {
position: absolute;
overflow: hidden;
top: 181px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10396_content {
}
div#obj10384 {
position: absolute;
overflow: hidden;
top: 183px;
left: 657px;
width: 350px;
height: 40px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10384_content {
}
div#obj11704 {
position: absolute;
overflow: hidden;
top: 185px;
left: 79px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11704_content {
}
div#obj11712 {
position: absolute;
overflow: hidden;
top: 224px;
left: 349px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11712_content {
}
div#obj10386 {
position: absolute;
overflow: hidden;
top: 236px;
left: 659px;
width: 350px;
height: 36px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10386_content {
}
div#obj10398 {
position: absolute;
overflow: hidden;
top: 239px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10398_content {
}
div#obj11710 {
position: absolute;
overflow: hidden;
top: 271px;
left: 272px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11710_content {
}
div#obj10400 {
position: absolute;
overflow: hidden;
top: 297px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10400_content {
}
div#obj10388 {
position: absolute;
overflow: hidden;
top: 297px;
left: 659px;
width: 350px;
height: 36px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10388_content {
}
div#obj11716 {
position: absolute;
overflow: hidden;
top: 338px;
left: 263px;
width: 93px;
height: 34px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj11716_content {
}
div#obj10402 {
position: absolute;
overflow: hidden;
top: 354px;
left: 615px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10402_content {
}
div#obj10390 {
position: absolute;
overflow: hidden;
top: 357px;
left: 657px;
width: 354px;
height: 73px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj10390_content {
}
div#obj10195 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj10195_content {
}



div#obj10119 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4834 {
position: absolute;
overflow: hidden;
top: 222px;
left: 783px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
