div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj3134 {
position: absolute;
overflow: hidden;
top: 14px;
left: 38px;
width: 745px;
height: 77px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3134_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 745px;
	height: 77px;
}
div#obj3930 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3930_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3923 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3923_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3919 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3919_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3916 {
position: absolute;
overflow: hidden;
top: 530px;
left: 545px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3916_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3913 {
position: absolute;
overflow: hidden;
top: 530px;
left: 428px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3913_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3904 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3904_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj3897 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3897_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj6978 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6978_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj3384 {
position: absolute;
overflow: hidden;
top: 29px;
left: 177px;
width: 763px;
height: 47px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj3384_content {
}
div#obj3512 {
position: absolute;
overflow: hidden;
top: 34px;
left: 128px;
width: 62px;
height: 50px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj3512_content {
}
div#obj4190 {
position: absolute;
overflow: hidden;
top: 533px;
left: 481px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4190_content {
}



div#obj4082 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3940 {
position: absolute;
overflow: hidden;
top: 49px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj6744 {
position: absolute;
overflow: hidden;
top: 224px;
left: 785px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}



#obj3235{
  pointer-event: auto !important;
  height: 431px; /* full height on page */
  width: 857px; /* full width on page */
  background-color: rgba(255,255,255,0.8431373);
  border-color: #909090;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: absolute;
overflow: hidden;
top: 91px;
left: 84px;
width: 857px;
height: 431px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
  /* override rotation value */
  transform:rotate(0deg) !important;
  -ms-transform:rotate(0deg) !important;
  -webkit-transform:rotate(0deg) !important;
}
#obj3235 .drawing-area{
  /*width and height must be the same as canvas */
  position: absolute;
  top: 0px; /* top area offset leaving space for tools, tool sizes and clear btn */
  left: 0px;
  z-index: 12; /* this has to be smaller then drawing-area-touch zindex */
  overflow: hidden !important;
}
#obj3235 .drawing-area-touch{
  position: absolute;
  top: 0px; /* same as drawingarea */
  left: 0px;
  z-index: 22; /* this has to be greater then drawing-area zindex */
  overflow: hidden !important;
}
#obj3235 .drawing-area-notes {
  pointer-events: none;
  position: absolute;
  top: 0px; /* same as drawingarea */
  left: 0px;
  z-index: 22; /* this has to be greater then drawing-area zindex */
  overflow: hidden !important;
}
#obj3235 .drawing-tmp-area{
  position: absolute;
  top: 0px; /* same as drawingarea */
  left: 0px;
  overflow: hidden !important;
}

/* Resize the tool-bar */
/* To hide the tool bar, set the drawing canvas to the maximum size */
#obj3235 .tool-bar {
  display: block;
  width: 100%;
  height:30px;  /* user-defined */
  bottom: 0px;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #F4F4F4;
}
#obj3235 .tool-bar .tool-item {
    height: 20px;
    width:  20px; 
    border : 1px solid transparent;
    box-sizing: border-box;
}
#obj3235 .tool-bar .tool-item.selected {
  box-shadow: 0px 0px 2px 2px #007bff;
}
#obj3235 .tool-bar .sizeContainer.tool-item {
    background-color: rgba(128,128,128,0.2);
    height: 20px;
    width: 20px;
    float:left;
    margin-left: 4px;
}
#obj3235 .drawing-tools{
  display: inline-block;
  float: left;
  clear: none;
  margin-right: 20px;
}
#obj3235 .drawing-tools .tool{
  display: inline-block;
  margin: 0px;
}

/* #obj3235 .drawing-tools .tool.selected{
  border : 1px solid red;
} */
#obj3235 .drawing-colors{
    /* display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; */
    display: inline-block;
    float: left;
    clear: none;
    position: relative;
    width:auto;
}
#obj3235 .drawing-colors .color{
    display: inline-block;
    float: left;
    clear: none;
    position: relative;
    margin: 0px 5px 0px 0px;
}
#obj3235 .drawing-colors .color.selected{
  border: 1px solid white;
}
#obj3235 .drawing-size{
    /* display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; */
    display: inline-block;
    clear: none;
    position: relative;
    margin-left: 8px;
}
#obj3235 .drawing-size .sizeContainer{
  display: inline-block;
  width: auto;
  margin-top:0px;
}
#obj3235 .drawing-size .size{
  display: block;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  background-color: #979797;
  margin: 0px;
  border-radius: 30px;
  float: left;
  clear: none;
}
#obj3235 .drawing-size .size.selected{
  background-color: #0A52A2;
}

#obj3235 .drawing-images {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #F4F4F4;
  padding: 0px;
  box-sizing: border-box;
}
#obj3235 .drawing-images .drawing-background{
  width: auto;
  height: 60px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}
#obj3235 .drawing-images .drawing-background-hidden{
  display:none;
}
#obj3235 .drawing-buttons {
    display: inline-block;
    position: absolute;
    height: 20px;
    padding: 0px;
    right: 0px;
    /* float: right !important; */
    clear: none;
}
#obj3235 .drawing-buttons .tool-item {
  float: left;
}
#obj3235 .drawing-buttons .tool-item.btn-note {
  display: none;
  margin-left: 10px;
}
#obj3235 .drawing-buttons .tool-item.btn-clear {
  display: inline-block;
  margin-left: 10px;
}
#obj3235 .drawing-buttons .tool-item.btn-close {
  display: none;
  margin-left: 10px;
}
#obj3235.SCAnnotationControl .drawing-buttons .tool-item.btn-close {
  display: inline-block;
}


#obj3235 .scdrawer-note {
  position: absolute;
  display: block;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  font-size: 16px;
  
  box-shadow: 0px 0px 10px 1px #555;
}
#obj3235 .scdrawer-note-tb {
    height: 25px;
    background-color: rgba(200,200,200,0.5);
}
#obj3235 .scdrawer-note-close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 21px;
    height: 21px;
    background-image: url(../../images/scdrawer-close.svg);
    
}
#obj3235 .scdrawer-note textarea {
    background-color: transparent;
    border: 0;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    width: 100%;
    height: calc(100% - 25px);
    font-size: 16px;
    font-family: inherit;
}







body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}
.SCPage {
background-color: #FFFFFF
}
