div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj8145 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj1557 {
position: absolute;
overflow: hidden;
top: 0px;
left: 68px;
width: 889px;
height: 558px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1557_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 889px;
	height: 558px;
}
div#obj6678 {
position: absolute;
overflow: hidden;
top: 16px;
left: 112px;
width: 59px;
height: 52px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6678_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 59px;
	height: 52px;
}
div#obj1949 {
position: absolute;
overflow: hidden;
top: 66px;
left: 609px;
width: 257px;
height: 181px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1949_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 181px;
}
div#obj1946 {
position: absolute;
overflow: hidden;
top: 71px;
left: 184px;
width: 257px;
height: 181px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1946_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 181px;
}
div#obj6901 {
position: absolute;
overflow: hidden;
top: 258px;
left: 300px;
width: 122px;
height: 38px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6901_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 38px;
}
div#obj6898 {
position: absolute;
overflow: hidden;
top: 259px;
left: 90px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6898_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj7411 {
position: absolute;
overflow: hidden;
top: 262px;
left: 737px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7411_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj7417 {
position: absolute;
overflow: hidden;
top: 263px;
left: 521px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7417_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj1900 {
position: absolute;
overflow: hidden;
top: 266px;
left: 432px;
width: 62px;
height: 29px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1900_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 62px;
	height: 29px;
}
div#obj7426 {
position: absolute;
overflow: hidden;
top: 266px;
left: 862px;
width: 62px;
height: 29px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7426_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 62px;
	height: 29px;
}
div#obj6893 {
position: absolute;
overflow: hidden;
top: 268px;
left: 215px;
width: 70px;
height: 28px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6893_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 28px;
}
div#obj7423 {
position: absolute;
overflow: hidden;
top: 268px;
left: 646px;
width: 70px;
height: 32px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7423_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 32px;
}
div#obj1951 {
position: absolute;
overflow: hidden;
top: 338px;
left: 591px;
width: 257px;
height: 136px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1951_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 136px;
}
div#obj1953 {
position: absolute;
overflow: hidden;
top: 344px;
left: 166px;
width: 257px;
height: 136px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1953_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 136px;
}
div#obj7449 {
position: absolute;
overflow: hidden;
top: 478px;
left: 300px;
width: 122px;
height: 38px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7449_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 38px;
}
div#obj7430 {
position: absolute;
overflow: hidden;
top: 478px;
left: 740px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7430_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj7436 {
position: absolute;
overflow: hidden;
top: 481px;
left: 533px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7436_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj7455 {
position: absolute;
overflow: hidden;
top: 482px;
left: 99px;
width: 116px;
height: 38px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7455_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 38px;
}
div#obj7464 {
position: absolute;
overflow: hidden;
top: 483px;
left: 423px;
width: 62px;
height: 29px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7464_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 62px;
	height: 29px;
}
div#obj7461 {
position: absolute;
overflow: hidden;
top: 486px;
left: 215px;
width: 70px;
height: 28px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7461_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 28px;
}
div#obj7442 {
position: absolute;
overflow: hidden;
top: 486px;
left: 646px;
width: 70px;
height: 28px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7442_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 28px;
}
div#obj7445 {
position: absolute;
overflow: hidden;
top: 486px;
left: 863px;
width: 62px;
height: 29px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj7445_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 62px;
	height: 29px;
}
div#obj8166 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8166_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8171 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8171_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8185 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8185_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8156 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8156_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8181 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8181_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8178 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8178_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8163 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8163_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj8147 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8147_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj2499 {
position: absolute;
overflow: hidden;
top: 15px;
left: 184px;
width: 43px;
height: 56px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2499_content {
}
div#obj7095 {
position: absolute;
overflow: hidden;
top: 22px;
left: 238px;
width: 448px;
height: 39px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Kokila_2";
}
div#obj7095_content {
}
div#obj1794 {
position: absolute;
overflow: hidden;
top: 530px;
left: 480px;
width: 56px;
height: 37px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj1794_content {
}



div#obj4500 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj2916 {
position: absolute;
overflow: hidden;
top: 49px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4408 {
position: absolute;
overflow: hidden;
top: 201px;
left: 783px;
width: 240px;
height: 320px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}

.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}

::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.SCPage {
background-color: #FFFFFF
}
