div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj12390 {
position: absolute;
overflow: hidden;
top: 40px;
left: 672px;
width: 316px;
height: 483px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj3988 {
position: absolute;
overflow: hidden;
top: 7px;
left: 146px;
width: 798px;
height: 504px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj3988_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 798px;
	height: 504px;
}
div#obj8550 {
position: absolute;
overflow: hidden;
top: 112px;
left: 870px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8550_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8535 {
position: absolute;
overflow: hidden;
top: 114px;
left: 695px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8535_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj8580 {
position: absolute;
overflow: hidden;
top: 175px;
left: 869px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8580_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8577 {
position: absolute;
overflow: hidden;
top: 177px;
left: 694px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8577_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj8583 {
position: absolute;
overflow: hidden;
top: 246px;
left: 868px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8583_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8586 {
position: absolute;
overflow: hidden;
top: 248px;
left: 693px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8586_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj8599 {
position: absolute;
overflow: hidden;
top: 311px;
left: 867px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8599_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8602 {
position: absolute;
overflow: hidden;
top: 313px;
left: 692px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 30;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8602_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj8615 {
position: absolute;
overflow: hidden;
top: 381px;
left: 870px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8615_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8618 {
position: absolute;
overflow: hidden;
top: 382px;
left: 686px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 34;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8618_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj8631 {
position: absolute;
overflow: hidden;
top: 444px;
left: 870px;
width: 92px;
height: 37px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8631_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 37px;
}
div#obj8634 {
position: absolute;
overflow: hidden;
top: 445px;
left: 691px;
width: 72px;
height: 36px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj8634_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 36px;
}
div#obj12411 {
position: absolute;
overflow: hidden;
top: 526px;
left: 894px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12411_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12416 {
position: absolute;
overflow: hidden;
top: 529px;
left: 839px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12416_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12430 {
position: absolute;
overflow: hidden;
top: 530px;
left: 35px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12430_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12401 {
position: absolute;
overflow: hidden;
top: 530px;
left: 86px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12401_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12426 {
position: absolute;
overflow: hidden;
top: 530px;
left: 138px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12426_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12423 {
position: absolute;
overflow: hidden;
top: 530px;
left: 417px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12423_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12408 {
position: absolute;
overflow: hidden;
top: 530px;
left: 569px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12408_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj12392 {
position: absolute;
overflow: hidden;
top: 530px;
left: 949px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj12392_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

div#obj4239 {
position: absolute;
overflow: hidden;
top: 29px;
left: 312px;
width: 459px;
height: 48px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4239_content {
}
div#obj4237 {
position: absolute;
overflow: hidden;
top: 33px;
left: 262px;
width: 38px;
height: 44px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4237_content {
}
div#obj4253 {
position: absolute;
overflow: hidden;
top: 112px;
left: 245px;
width: 283px;
height: 40px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4253_content {
}
div#obj8557 {
position: absolute;
overflow: hidden;
top: 114px;
left: 639px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8557_content {
}
div#obj8559 {
position: absolute;
overflow: hidden;
top: 115px;
left: 826px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8559_content {
}
div#obj4241 {
position: absolute;
overflow: hidden;
top: 117px;
left: 171px;
width: 60px;
height: 32px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4241_content {
}
div#obj8572 {
position: absolute;
overflow: hidden;
top: 177px;
left: 638px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8572_content {
}
div#obj8567 {
position: absolute;
overflow: hidden;
top: 178px;
left: 825px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8567_content {
}
div#obj4251 {
position: absolute;
overflow: hidden;
top: 181px;
left: 167px;
width: 53px;
height: 35px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4251_content {
}
div#obj4255 {
position: absolute;
overflow: hidden;
top: 181px;
left: 249px;
width: 216px;
height: 35px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4255_content {
}
div#obj4257 {
position: absolute;
overflow: hidden;
top: 241px;
left: 254px;
width: 305px;
height: 49px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4257_content {
}
div#obj8589 {
position: absolute;
overflow: hidden;
top: 248px;
left: 637px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8589_content {
}
div#obj4249 {
position: absolute;
overflow: hidden;
top: 249px;
left: 168px;
width: 47px;
height: 33px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4249_content {
}
div#obj8594 {
position: absolute;
overflow: hidden;
top: 249px;
left: 824px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8594_content {
}
div#obj4261 {
position: absolute;
overflow: hidden;
top: 307px;
left: 254px;
width: 133px;
height: 48px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4261_content {
}
div#obj4247 {
position: absolute;
overflow: hidden;
top: 313px;
left: 168px;
width: 67px;
height: 65px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4247_content {
}
div#obj8605 {
position: absolute;
overflow: hidden;
top: 313px;
left: 636px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8605_content {
}
div#obj8610 {
position: absolute;
overflow: hidden;
top: 314px;
left: 823px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8610_content {
}
div#obj8621 {
position: absolute;
overflow: hidden;
top: 377px;
left: 639px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8621_content {
}
div#obj4245 {
position: absolute;
overflow: hidden;
top: 378px;
left: 168px;
width: 52px;
height: 44px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4245_content {
}
div#obj4263 {
position: absolute;
overflow: hidden;
top: 378px;
left: 249px;
width: 176px;
height: 44px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4263_content {
}
div#obj8626 {
position: absolute;
overflow: hidden;
top: 380px;
left: 825px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8626_content {
}
div#obj4243 {
position: absolute;
overflow: hidden;
top: 439px;
left: 171px;
width: 44px;
height: 48px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4243_content {
}
div#obj4265 {
position: absolute;
overflow: hidden;
top: 444px;
left: 249px;
width: 206px;
height: 43px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4265_content {
}
div#obj8642 {
position: absolute;
overflow: hidden;
top: 446px;
left: 822px;
width: 77px;
height: 37px;
opacity: 1;
z-index: 40;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8642_content {
}
div#obj8637 {
position: absolute;
overflow: hidden;
top: 447px;
left: 639px;
width: 72px;
height: 35px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj8637_content {
}
div#obj4500 {
position: absolute;
overflow: hidden;
top: 531px;
left: 477px;
width: 73px;
height: 37px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4500_content {
}



div#obj4474 {
position: absolute;
overflow: hidden;
top: 523px;
left: 0px;
width: 1024px;
height: 53px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #A3D6E2;
background-repeat: repeat;
}
div#obj3871 {
position: absolute;
overflow: hidden;
top: 40px;
left: 36px;
width: 952px;
height: 475px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
#obj4535 {
position: absolute;
overflow: hidden;
top: 232px;
left: 998px;
width: 240px;
height: 300px;
opacity: 1;
z-index: 41;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.trans {
    /*color: #FF000050;*/
    color: #FF000000;
}
.trans1 {
    color: #FF000050;
    /*color: #FF000000;*/
}
.bgwhite {
    /*background-color: #FFFFFF00;*/
    background-color: #FFFFFFFF;
}
.fblue {
    color: #2933B6;
}
.fpink {
    color: #DF338E;
}

::selection {
  background: transparent;
  color: inherit;
}
video {
  border: 1px dotted gray;
  cursor: move;
  z-index: 10;
}
.SCTextContainer {
    padding-top:3px !important;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.correct {
  background: #28a745 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #28a74555;
  border: 2px solid #218838;
}
.incorrect {
  background: #dc3545 !important;  
  color: #fff !important;
  box-shadow: 0 0 8px 2px #dc354555;
  border: 2px solid #c82333;
}

.active {
    border-color: #339cff !important;
    box-shadow: 0 0 8px 2px #4c9de9f0;
    background-color: #84f9fc !important;
}

.SCPage {
background-color: #FFFFFF
}
